body{
    margin: 0;
    font-family: tahoma;
 
}
p{
    color:gray;
    font-size: 12px;
    word-spacing: 2px;

}
.same-button{
    background-color: #f39c12;
    border:none;
    height:44px;
    width: 130px;
    border-radius: 6px;
    color:white;
    margin: 30px 0;

}
.header-area{
    background-color: #f5ecd9;
}
.container{
    width: 80%;
    margin:auto;

}
/*------------ header-top area start -----------*/
.header-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display:flex;
    
}
.menu a{
    text-decoration: none;
    margin-left: 30px;
    color:black;
    font-weight: bold;
    font-size: 14px;
}
/* -----header-top end--------- */
/* -------header-middle area start -------*/
.header-middle{
    text-align:center;
    margin-top: 60px;
}

/* header-middle area end */
/* header-bottom area start */
.header-bottom img{
    width:100%;
    margin-bottom: 40px;
}
/* header-bottom area end */

/* -------------------main-area start from here ----------------------*/
/* section-1 start */
.section-1{
    display:flex;
    align-items: center;
    margin-bottom: 50px;
}
.section-1 .left-side{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top:30px;
    margin-right:40px;
}
.section-1 .left-side img{
    height: 300px;
    width: 300px;
}
.section-1 .right-side .text1{
    color:gray;
    font-weight: normal;

}
.section-1 .right-side .text2{
    color:#f39c12;

}

/* section-1 end */
/* section-2 start */
.section-2{
    display:flex;
    justify-content: space-between;
    margin-bottom:100px;
}
.section-2 .left{
    width:40%;
}
.section-2 .right{
    width:45%;
    position:relative;
}
.section-2 .right .btn{
    position:absolute;
    left:-50px;
    bottom:0px;

}
.section-2 .right .btn{
  background-color:#f39c12;
  color:#FFFFFF;
  border:none;
  height:100px;
  width:160px;
  border-radius: 6px;

}
.btn p{
    color:#FFFFFF;
}
.line{
    border-left: 4px solid green;
    height: 70px;
    margin-top: 25px;
    margin-right: 15px;
}
.section-2-top{
    display:flex;

}
.section-2 .right img{
    width:100%;
}
.section-2 .information{
    display:grid;
    grid-template-columns: 1fr;
    gap: 10px;
    
}
.section-2 .info{
    border-radius: 6px;
    padding:20px;
    padding-top:0;
    background-color: white;
    box-shadow: 0px 0px 5px 5px #f1f2f6;
 
}
.info h5{
    margin-bottom:0;
}

/* --------section-2 end -----------*/
/* --------section-3 start -----------*/
.section-3{
    margin-bottom: 100px;
}
.fact{
    margin-bottom: 60px;
}
.reward{
    height: 150px;
    display:grid;
    grid-template-columns:repeat(4, 150px);
    justify-content: space-evenly;
    align-items: center;
}
.box{
    height: 90px;
    width: 90px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ffa502;
    transition:width 1s,height 1s, transform 2s;
}
.box:hover{
    width:110px;
    height:110px;
    transform: rotate(360deg);
}
.box h2{
    margin:0;
}
/* section-3 end */

/* section-4 start */
.section-4{
    margin-bottom: 100px;
}
.section-4 .sponsor{
    text-align: center;
    margin-bottom:50px;
}
.section-4 .icon{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}
.icon img{
    height: 30px;
    width: 80px;
}
.icon .contrast{
    filter: contrast(0);;
}
.icon .black{
    filter: brightness(0);;
}

/* ----------section-5 start here---------- */
.personal .content{
	display: flex;
}
.personal-left{
	margin: 100px 100px;

}
.personal-right{
	margin-top: 200px;
}
.personal-left img{
	height: 400px;
	width: 300px;
}
.personal-right table td, th{
	border: 1px solid black;
	padding: 12px 12px;

}
.personal-right table{
	border: 1px solid black;
	border-collapse: collapse;
}
/* section-5 end */

/* footer-part */
.footer-area{
    margin-bottom:100px;
}
.last-part{
    height: 50px;
    width: 100%;
    background-color: #f5ecd9;
    border-radius: 7px;
}
.pera-part p{
    text-align: center;
    padding-top: 18px;
}
/* --------------------------------media query start from here ----------------------------------------*/

@media screen and (max-width:576px){
    .header-area .container{
        width:90%;
        margin:auto;
    }
    .header-area{
        margin:auto;
    }
    .header-top{
        flex-direction: column;
        align-items: center;
    }
    .menu{
        flex-direction: column;
        
    }
    .menu a{
       margin:auto;
    }

    /* section-1 responsive start*/
        .section-1{
            flex-direction: column;
        }
        .section-1 .left-side{
            grid-template-columns: 1fr;
        }
    /* section-1 responsive end */
    /* section-2 responsive start */
    .section-2{
        flex-direction: column;
    }
    .section-2 .left{
        width:80%;
    }
    .section-2 .right{
        width:80%;
        margin-top: 30px;
        position:none;
    }
    .section-2 .right .btn{
        position:none;
        left: 0;
        bottom:0;
        top:100%;
    }
    /* section-2 responsive end */
    /* section-3 responsive start */

    .section-3 .reward .box{
        width:80%;
        text-align: center;
    }
    .section-3 .fact h2,p{
        text-align: center;
    }
    .section-3 .fact h2{
        margin-top:150px;
    }
    .reward{
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    /* section-3 responsive end */
    /* section-4 responsive start */
    .section-4 .icon{
        grid-template-columns: 1fr;
    }
    .section-4 .sponsor h2{
        margin-top:200px;
    }
    .section-4 .icon img{
        width:40%;
        margin:auto;
        margin-top: 20px;
    }
    /* section-4 responsive end */
    /* section-5 responsive start */
    .personal .content{
        flex-direction:column;
     
    }
    .personal-left{
        margin: 0;
    
    }
    .personal-right{
        margin-top: 0px;
    }
    .personal-right h2{
        text-align:center;
    }
    .personal-left img{
        height: 400px;
        width: 300px;
    }
    .personal-right table td, th{
        border: 1px solid black;
        padding: 12px 12px;
    
    }
    .personal-right table{
        width:100px;
        height:400px%
        margin:auto;
    }
    

    
    /* section-5 responsive end */
    .last-part{
        width: 100%;
     
    }
       
    }
